<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@null"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Save It"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DownloadIt">
        <activity
            android:name="com.rayliu0712.saveit.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DownloadIt">

            <!-- open as ... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- share single file to ... -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
